.about{
    flex-grow: 1;
    text-align: start;
    margin-top: -50px;
    max-width: 900px;
    
}
.about h1{
    background: -webkit-linear-gradient(80deg,#DC3F89 0%,#903EDD 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:  cursive;
    font-size: 23px;
}
.name{
    display: inline-block;
    margin-left: 10px;
}
.about img{
    border-radius: 100%;
    margin-bottom: -15px;
}
.about h4{
    color: indigo;
    font-size: 21.5px;
    line-height: 40px;
}
.subDiv{
    font-size: 15.5px;
    line-height: 25px;
}
.aboutDiv{
font-size: 19px;
margin: 10px auto;
}
.fa-circle{
    color: white;
    font-size: 16px;

}
@media(max-width: 800px){
    .about p{
      font-size: 16px;
    }
    .fa-circle{
        font-size: 12px;
    }
}