.about{
    flex-grow: 1;
    text-align: start;
    
}
.about h1{
    background: -webkit-linear-gradient(80deg,#DC3F89 0%,#903EDD 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:  cursive;
}
.aboutDiv{
font-size: 19px;
margin: 10px auto;
}
.fa-circle{
    color: white;
    font-size: 16px;

}