.home{
    color: white;
}
.link{
    background: hsl(271, 70%, 35%);
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
}

.title span{
    background: -webkit-linear-gradient(80deg,#DC3F89 0%,#903EDD 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.link:hover{
    background: linear-gradient(80deg,#DC3F89 0%,#903EDD 100%);
    color: white;
}
.linkDiv{
    margin: 80px auto;
}
.img img{
    width: 30%;
    height: 20%;
    border-radius: 100%;
}
.header{
    margin: 30px auto;
}
.title p{

    font-family: cursive;
}
.title h6{
   line-height: 40px;
}
@media(min-width: 800px){
.home{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.title h6{
    max-width: 600px;
}
.img img{
    width: 60%;
    height: 60%;
    border-radius: 100%;
   
}
}