.button{
    width: 200px;
    margin: 20px auto ;
    background: linear-gradient(80deg,#DC3F89 0%,#903EDD 100%);
    border-style: none;
    padding: 10px;
    border-radius: 15px;
    color: white;
    font-size: 17px;
    font-weight: bold;

}
.button:hover{
    background: indigo;
}
.messageLabel{
    line-height: 40px;
    font-weight: bolder;
}
textarea{
    padding: 10px;
    border-style: none;
    border-radius: 10px;
}
input{
    border-style: none;
    margin: 20px auto;
    border-radius: 12px;
    width: 300px;
    height: 10px;
    padding: 15px;
}
.inputForm{
    margin-top: -40px;
}
label{
    display: inline-block;
}
.inputForm p{
    color: indigo;
    font-size: 20px;
    line-height: 40px;
}