.Navbar{
    height: 100%;
    margin-bottom: 110px;

}
.navContainer{
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
    max-width: 130px;
    height: 100%;
   
}
.logoLink{
    background: -webkit-linear-gradient(80deg,#DC3F89 0%,#903EDD 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Pacifico', cursive;
    font-size: 22px;
}
.icon{
    opacity: 1;
    z-index: 4;
    width: 40px;
    cursor: pointer;
    top: 10px;
    
    right: 15px;
    padding: 8px;
    position: absolute;
    border-radius: 100%;
    color: linear-gradient(80deg,#DC3F89 0%,#903EDD 100%);
    transition: all 0.5s ease-in-out;
}
.fa-bars, .fa-times{
    font-size: 25px;
}
.NavList{
    display: flex;
    align-items: center;
}
.NavList ul{
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 86vh;
    left: -100vw;
    padding-top: 140px;
    text-align: center;
    position: absolute;
    transition: all 0.5s ease-in-out;
    background-color: rgb(0,0,0,0.8);
}
.NavList ul li{
     list-style: none;
     margin-bottom: 15px;
}
.NavList ul li a{
    display: block;
    font-size: 20px;
    padding: 7px 0;
    color: white;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    
}
.NavList ul li a:hover{
    background: indigo
}
@media(min-width: 800px){
    .icon{
        display: none;
    }
    .NavList{
        position: absolute;
        right: -630px;
    }
    .NavList ul{
        padding: 0;
        width: 100%;
        height: 100%;
        text-align: left;
        position: relative;
        background: transparent;
    }
    .NavList ul li{
        display: inline-block;
        margin-bottom: 0;

    }
    .NavList ul li:not(:last-child){
        margin-right: 10px;
    }
    .NavList ul li a{
        padding: 5px;
        border-radius: 10px;
    }
    .NavList ul li a:hover{
        padding: 5px;
        transform: scale(1.1);
        background: linear-gradient(80deg,#DC3F89 0%,#903EDD 100%);
    }
}